:host {
  button {
    padding: 1em 1.5em;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    border-radius: var(--pp-border-radius-lg);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: var(--pp-box-shadow);

    &:hover:not(:disabled) {
      background-color: var(--pp-white);
      box-shadow: var(--pp-box-shadow-lg);
    }

    .button-content {
      display: flex;
      gap: var(--pp-small-gap);
    }

    &.icon-only {
      width: 3em;
      min-width: 3em;
      height: 3em;
      padding: 0;
    }

    &.pill {
      border-radius: var(--pp-border-radius-xl);
    }

    &.small {
      font-size: var(--pp-font-size-xs);
    }

    &.large {
      font-size: var(--pp-font-size-lg);
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  .primary {
    border-color: var(--pp-primary);
    background-color: var(--pp-primary);
    color: var(--pp-white);

    &:hover:not(:disabled) {
      background-color: var(--pp-white);
      color: var(--pp-primary);
    }

    &.alternate {
      background-color: var(--pp-white);
      color: var(--pp-primary);

      &:hover:not(:disabled) {
        background-color: var(--pp-primary);
        color: var(--pp-white);
      }
    }
  }

  .secondary {
    background-color: var(--pp-secondary);
    border-color: var(--pp-secondary);
    color: var(--pp-white);

    &:hover:not(:disabled) {
      background-color: var(--pp-white);
      color: var(--pp-secondary);
    }

    &.alternate {
      background-color: var(--pp-white);
      color: var(--pp-secondary);

      &:hover:not(:disabled) {
        background-color: var(--pp-secondary);
        color: var(--pp-white);
      }
    }
  }

  .warning {
    background-color: var(--pp-warning);
    border-color: var(--pp-warning);
    color: var(--pp-white);

    &:hover:not(:disabled) {
      background-color: var(--pp-white);
      color: var(--pp-warning);
    }

    &.alternate {
      background-color: var(--pp-white);
      color: var(--pp-warning);

      &:hover:not(:disabled) {
        background-color: var(--pp-warning);
        color: var(--pp-white);
      }
    }
  }

  .success {
    background-color: var(--pp-success);
    border-color: var(--pp-success);
    color: var(--pp-white);

    &:hover:not(:disabled) {
      background-color: var(--pp-white);
      color: var(--pp-success);
    }

    &.alternate {
      background-color: var(--pp-white);
      color: var(--pp-success);

      &:hover:not(:disabled) {
        background-color: var(--pp-success);
        color: var(--pp-white);
      }
    }
  }

  .danger {
    background-color: var(--pp-danger);
    border-color: var(--pp-danger);
    color: var(--pp-white);

    &:hover:not(:disabled) {
      background-color: var(--pp-white);
      color: var(--pp-danger);
    }

    &.alternate {
      background-color: var(--pp-white);
      color: var(--pp-danger);

      &:hover:not(:disabled) {
        background-color: var(--pp-danger);
        color: var(--pp-white);
      }
    }
  }

  .light {
    background-color: var(--pp-light);
    border-color: var(--pp-light);
    color: var(--pp-black);

    &:hover:not(:disabled) {
      background-color: var(--pp-white);
      border-color: var(--pp-white);
    }

    &.alternate {
      background-color: var(--pp-white);
      border-color: var(--pp-white);

      &:hover:not(:disabled) {
        background-color: var(--pp-light);
        color: var(--pp-black);
      }
    }
  }
}
